@import 'colors';

@mixin column {
  display: flex;
  flex-direction: column;
}

@mixin headerInfo {
  font-weight: 700;
  color: $navy;
}

@mixin secondaryInfo {
  color: $gray;
  font-size: 14px;
}
