<div class="container">
  <section class="team" *ngFor="let team of teams; trackBy: trackByTeam">
    <h1>{{team.name}}</h1>
    <div class="team-members">
      <cob-team-member-ui *ngFor="let member of team.members; trackBy: trackByMember">

        <picture class="photo info">
          <source [srcset]="member.picUrl.w2560" media="(min-width:400em)">
          <source [srcset]="member.picUrl.w1920" media="(min-width:200em)">
          <source [srcset]="member.picUrl.w1080" media="(min-width:100em)">
          <source [srcset]="member.picUrl.w400" media="(min-width:50em)">
          <img class="photo info" [src]="member.picUrl.w200" [alt]="member.name">
        </picture>
        <span class="name info">{{member.name}}</span>
        <span class="position info">{{member.position}}</span>
        <a class="email info" [href]="'mailto:' + member.email">{{member.email}}</a>
        <a class="phone info" [href]="'tel:' + member.phone">{{member.phone}}</a>

      </cob-team-member-ui>
    </div>
  </section>
</div>
